img{
  height: 500px;
  width: auto;
}

#one,
#two,
#three{
  font-size: 20px;
}

#one{
  background-color: green;
  color: white;
}

#two{
background-color: white;
}

#three{
  background-color: red;
  color: white;
}